/*Aufgabe 3a*/

body{
    margin:auto;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: coral;
    height: 300px;
    color: white;
    margin-bottom: 50px;
}

main{
    width: 80%;
    font-size: 1.5em;
    text-align: left;
    margin:auto;
}

h2{
    font-size: 2em;
}

h1 {
    font-size: 5em;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    margin: auto;
    padding: 40px;
}

div{
    padding-inline: 50px;
}

button{
    background-color:darkred;
    color: white;
    border: none;
    width: 100px;
}