html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    
    background-color: white;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 300%;
}

input{
    display: inline-block;
}

.grid-box{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 10% 60% 10%;
    grid-template-areas: 
        "header header header header"
        "navi navi navi navi"
        "main main main main"
        "footer footer footer footer"
}

.head{
    background-color: cornflowerblue;
    grid-area: header;

    font-size: 1em;
}

.navi{
    grid-area: navi;
    background-color: cornflowerblue;
}

.main{
    background-image: url(hintergrundbild.png);
    margin:auto;
    width: 80%;
    height: 100%;
    grid-area: main;
}

.footer{
    background-color: cornflowerblue;
    grid-area: footer;
}

@media screen and (min-width: 1000px) {  

    .grid-box {
        grid-template-areas: 
            "header header header header"
            "navi navi navi navi"
            "main main main main"
            "footer footer footer footer"
    }





}

