body{
    width: 100%;
    height: 1000px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom:100px;
}

header{                                                             /* Header */
    width: 100%;
    height: 200px;
    margin: 0px;
    border:0px;

    background-color: #9EAC9F;
}

#logo{
    height: 130px;
    width: 130px;
    margin-left: 150px;
    margin-top: 20px;
    float: left;
}

#Titel{
    margin-top: -100px;
    margin-bottom: -100px;
    margin-right: 350px;

    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
}

.sticky{
    width: 100%;
    top:0;
    position:fixed;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.5em;
    font-weight:normal;
    text-align: center;

    line-height: 4.5em;
    background-color: #9EAC9F;
}                                                                   /* Header Ende */

nav{                                                                /* Navigation */
    width: auto;
    height:auto;
    margin-right: 60px;
}

ul{
    list-style-type: none;
    text-align: right;
}

.navigationoben{
    display: inline;
}

nav li a:hover{      
    font-weight: bold;
    
    color: #4A332E;                                               
}

nav a{                                                                                   
    padding: 25px;

    text-decoration: none;
    color: white;
}                                                                   /* Navigation Ende */

main {                                                              /* Main */
    margin-top: -150px;

    background-color: #C3D4C4;
}

#logoimMain{
    height: 250px;
    width: 250px;
    margin: auto;
    margin-bottom: 50px;
   
    display: table;
}

hr {
    width: 70%;
    height: 2px;
    margin-top: 0;
    margin-bottom: 0;
    border-width: 0;

    display: block;
    opacity: 0.5;
    background-color:white;
}

h1 {                                                                    /* alle verwendete h-Tags*/
    padding-top: 100px;
    margin-top: 200px;
    margin-bottom: 50px;

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4em;
    font-weight:normal;
    text-align: center;
}

h2{
    padding-top: 100px;
    margin-top: 200px;
    margin-bottom: 50px;
    
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4em;
    font-weight:lighter;
    text-align: center;
}

h3{
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 280px;

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    font-style: italic;
    font-weight: lighter;
}

h4{
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 500px;
   
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    font-style: italic;
    font-weight: lighter;
    color: white;
}

#portfolio{        
    margin-top: 50px;
    padding-top: 0px; 

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5em;
    font-weight: lighter;
    text-align: center;
}

.bild-container{                                                    /* Bilder */
    content:"";
    clear: both;
    display: table;
    margin: auto;;
}

.bild1u2{
    width: 650px;
    height: 420px;
    padding: 20px;
    float: left;
}

.bild3{
    width:500px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 0;

    display: table;
}       

video{                                                                /* Video */
    width: 960px;                                                            
    margin: auto;
    height: 540px;

    display: table;
}

audio{                                                              /* Audio */
    width: 960px;
    margin: auto;
    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 0px;

    display: table;
}

.pdf{                                                                /* PDF */
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-bottom: 20px;
    
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    
    display: table;
}
.gif{                                                               /* Gif */
    display: table;
    margin: auto;
    width: 960px;
    height: 720px;
    margin-bottom: 150px;
}

.button{                                                          /* Button, nach oben */
    
    margin-left: 92%;
    margin-bottom: 30px;
    padding: 1px 4px 4px 1px;

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight:lighter;
    text-align: center;  
    text-decoration: none;

    display: block;
    background-color: #9EAC9F;     
}

#porträtbild{                                                     /* Über mich Seite */ 
    margin-left:500px;
    margin-top: 100px;
    
}

table{                                                              /* Tabelle/Steckbrief */ 
    margin-top: -600px;
    margin-right: 300px;

    color: #4A332E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;;

    float:right;
}

tr{
    height: 50px;
}

.persönlichedaten{
    padding-left: 100px;

    color:#4A332E;
    font-weight:normal;                                            
}                                                                   /* Tabelle/Steckbrief Ende */ 

.textübermich{
    margin-left:300px;
    margin-right: 300px;
    margin-bottom: 200px;
    padding-left: 100px;
    padding-top: 80px;
    padding-right: 100px;
    padding-bottom: 80px;

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 1.5em;
    background-color: #9EAC9F;

}

.textoben{                                                            /* Kontakt Seite*/
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
}
 
label{                                                                /* Formular*/
    width: 25%;
    padding-left: 400px;
    margin-top:10px;

    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4em;
    font-weight: normal;
    
    float: left;
}

input{
    width: 620px;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    margin-left: -300px;
    margin-bottom: 20px;
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}

#textfeld{
    width: 600px;
    height: 196px;
    margin-left: -300px;
    margin-top: 15px;
    padding: 10px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;

    resize: vertical;
}

fieldset{
    border: none;
    padding-left: 0px;
    margin-left: 120px;

    background-color: #C3D4C4;
}

button{
    width: 90px;
    height: 40px;
    margin-left: 1075px;
    margin-top: 40px;
    margin-bottom: 200px;

    font-size: 1em;
}                                                                      /* Formular und Main Ende*/

#hilfslinie{                                                           /* Footer*/
    background-color:#9EAC9F;
}

#hilfslinie2{
    width: 10%;
    margin-bottom: 50px;

    background-color:#9EAC9F;
}

footer{  
    width: auto;
    height: 350px;
    margin-top: -100px;
    margin-bottom: 0px;
   
    background-color:#9EAC9F;
}

.footerkontakt{                                                         /* Impressum & Kontakt*/
    font-size: 1.2em;
    font-weight: normal;
    margin-left: 180px;
    padding-top: 50px;
    padding-bottom: 20px;

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}

.footerkontakt a{
    color:white;
    font-weight: bolder;
}

.footertext{
    margin-top: -180px;
    margin-left: 700px;
    margin-right: 700px;

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}

.footerbutton{
    color: white;
}

.smcontainer{                                                               /* Social Media*/
    margin-left: 1350px;
    margin-top: -200px;

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}

.fa{
    padding:10px;
    margin-left: 1380px;
    margin-top: 10px;

    text-decoration: none;
}

.fa.fa-instagram{
    font-size: 50px;
    color:white
}

.fa.fa-twitter{
    font-size: 50px;
    color:white;
}

.fa.fa-pinterest{
    font-size: 50px;
    color:white
}                                                                            /* Footer Ende*/