body{                                                              /* Body */
    width: 100%;
    height: auto;
    margin: 0px;
    max-width: 100%;
    overflow-x: hidden;
    
    background-image: url(bg.png);
}

header{                                                         /* Header */
    width: 100%;
    height: 250px;

    background-color: #9EAC9F;
}

#logo{
    height: 150px;
    width: 150px;
    margin-left: 552px;
    margin-top: 60px;
    margin-bottom: 50px;
    
    float: left;
}

#Titel{
    margin:0px;
    height: 100px;
    width: 500px;
    margin-left: 800px;
    padding-top: 120px;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5em;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
}

.sticky{                                                       /* Sticky Navigation */
    top:0;
    height: 60px;
    width: 1300px;
    margin-left: 302px;
    padding:0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.5em;
    font-weight:normal;
    text-align: center;

    position:fixed;
    line-height: 4.5em;
    background-color: #9EAC9F;
}                                                                   

nav{                                                          /* Navigation */
    width: auto;
    height: 60px;
}

/*ul{
    margin-top: -20px;
    margin-bottom: 0px;
    padding-left: 0px;
    height: 60px;

    list-style-type: none;
    float:right;
}*/
 
.navigationoben{
    padding: 10px;
    display: inline;
}

nav a{                                                                                   
    text-decoration: none;
    color: white;
}   

nav li a:hover{                                             /* Navigationspunkt wird hervorgeboben wenn man mit der Maus Rüberfährt */
    font-weight: bold;
    
    color: #4A332E;                                                
}                                                           /* Header und Navigation ENDE */

#index{                                                     /* aktuelle Seite im Navigation wird hervorgehoben*/
    padding: 10px;

    background-color: #C3D4C4;
    display: inline;
}

#übermich{ 
    padding: 10px;
    
    background-color: #C3D4C4;
    display: inline;
}

#kontakt{ 
    padding: 10px;
    
    background-color: #C3D4C4;
    display: inline;
}

main {                                                      /* Main */
    width: 800px;                                          /* Main ist 1300 px wegen Design, aber der gesamte Inhalt ist 800 Pixel breit */
    height: auto;
    margin:auto;
    border-style: solid ;
    border-color: #C3D4C4;
    border-left-width: 250px ;
    border-right-width: 250px ;

    background-color:#C3D4C4;
}

h1 {                                                          /* alle verwendete h-Tags*/
    margin-bottom: 50px;
    margin-top: 0px;
    padding-top: 100px;

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.5em;
    font-weight:normal;
    text-align: center;
}

h2{
    width: 800px;
    margin:auto;
    padding-top: 100px;
    margin-bottom: 20px;
    
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4em;
    font-weight:lighter;
    text-align: center;
}

/*h3{
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 250px;

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    font-style: italic;
    font-weight: lighter;
}*/

/*h4{
    margin-bottom: 0px;
    width: 220px;
    margin-top: -420px;
    margin-left: 500px;
    margin-left: 600px;

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    font-style: italic;
    font-weight: lighter;
}*/

#logoimMain{                                                /* HAUPTSEITE/PORTFOLIO */
    height: 250px;
    width: 250px;
    margin: auto;
    margin-bottom: 50px;
   
    display: table;
}

hr {
    width: 800px;
    height: 2.5px;
    margin:auto;
    border-width: 0;

    display: table;
    opacity: 0.5;
    background-color:#4A332E;
}

#portfolio{        
    margin-top: 50px;
    padding-top: 0px; 

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5em;
    font-weight: lighter;
    text-align: center;
}

.bild-container{                                              /* Bilder */
    content:"";
    clear: both;
    display: table;
    margin: auto;
}

.bild1u2{
    width: 100%;
    padding-bottom: 30px ;
    margin: auto;

    float: left;
}

.bild3{
    width:500px;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 0;

    display: table;
}       

video{                                                         /* Video */
    width: 100%;
    height: 450px;;                                                          
    margin: auto;

    display: table;
}

audio{                                                         /* Audio */
    width: 100%;
    margin-top: -50px;
    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 0px;

    display: table;
}

.pdf{                                                          /* PDF */
    margin-bottom: 50px;
    margin-top: 50px;
    padding-bottom: 20px;
    
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7em;
    
    display: table;
}

.gif{                                                          /* Gif */
    margin: auto;
    width: 800px;
    height: 600px;
    padding-bottom: 150px;

    display: table;
}


#porträtbild{                                                  /* ÜBER MICH SEITE */ 
    margin-top:100px;
    width: 300px;
    
}

table{                                                         /* Tabelle/Steckbrief */ 
    margin-top: 10px;

    color: #4A332E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;;

    float:right;
}

tr{
    height: 50px;
}

.persönlichedaten{
    width: 250px;
    padding-left: 50px;
    margin-right: 240px; 

    color:#4A332E;
    font-weight:normal;                                            
}                                                                 /* Tabelle/Steckbrief ENDE */ 

#textüberschrift{
    margin-top:-65px;

    color:#4A332E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: lighter;
}

.textübermich{                                                   /* Box Model verwendet */
    width:750px;
    margin-top: 450px;
    margin-bottom: 100px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-left-width: 5px;
    border-bottom-width: 5px;
    border-bottom-width: 5px;
    border-right-width: 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-right-width: 5px;
    border-top-width: 5px;
    border-style: solid;
    border-color: #9EAC9F;

    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: lighter;

    background-color:#9EAC9F; 
}
#logoimMainübermich {
    width: 300px;
    margin: auto;
    padding-bottom: 150px;
   
    display: table;
}

.textoben{                                                          /* KONTAKT SEITE*/
    width: 800px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;

    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
}

form{                                                               /* Kontaktformular */
    display:table;
    margin: auto;
}
/*label{                                                                
    width: 150px;
    margin-top:10px;
    margin-bottom: 10px;
    padding:0px;

    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4em;
    font-weight: normal;
    float:left;
}*/

input{
    width: 600px;
    height: 40px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}

#textfeld{
    width: 560px;
    height: 196px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding: 10px 20px 10px 20px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;

    resize: vertical;
}

fieldset{
    width: 752px;
    border: none;
    margin:0px;
    padding:0px;

    background-color: #C3D4C4;
}

button{                                                                 /*Button absenden*/
    width: 90px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 150px;

    font-size: 1em;
    
    float:right;
} 

.datenschutztext{
    width: 500px;

    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
} 

#datenschutz{
    color:white;
}                                                                  /* Formular und Main ENDE*/                                                        /* Footer*/


.button{                                                          /* Button, nach oben */

    padding-top: 10px;
    margin-left: 1242px;
    margin-right: 551px;
    width: 110px;

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight:lighter;
    text-align: center;  
    text-decoration: none;

    display: block;
    background-color: #9EAC9F;   
}                                                                  

footer{                                                               /* Footer */
    width: auto;
    height: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
   
    background-color:#9EAC9F;
}

.footerimpressum{                                                         /* Impressum */
    width: 340px;
    margin-left: 551px;
    
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
}

.footerimpressum strong{
    font-weight: bold;
}
.footerimpressum a{
    color: white;
    font-weight: bold;
}

.footertext{
    margin-top: -180px;
    margin-left: 700px;
    margin-right: 700px;

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}

.footerbutton{
    color: white;
}

#footersocialmedia{                                                           /* Icons, Social Media*/
    margin-left: 1000px;
    margin-top: -150px;

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;

    display:table;
}


.fa.fa-instagram{                                                               
    font-size: 50px;
    color:white;
    text-decoration: none;
}

.fa.fa-twitter{
    padding-left: 20px;
    font-size: 50px;
    color:white;
    text-decoration: none;
}

.fa.fa-pinterest{
    padding-left: 20px;
    font-size: 50px;
    color:white;
    text-decoration: none;
}  
/*
#footersocialmedia a:hover{                                             Icon wird optisch hervorgehoben 
    color: #4A332E;                                               
}*/

.datenschutz{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
    margin-left: 551px;

    display: table;
    margin-top: 140px;
    margin-left: 551px;

}                                                                        /* Footer ENDE*/

/*-------------------------- Praktikumsabgabe 1.4 --------------------------- */

div ul {                                                                 /*Nachfahren, Navigation*/
    margin: 0px;
    padding: 0px;
    height: 60px;
    height: 60px;
    margin-top: -20px;
    margin-bottom: 0px;
    padding-left: 0px;

    list-style-type: none;
    float:right;
    
}

div > label {                                                           /*Eltern/Kind, Kontaktformular*/
    width: 150px;
    margin-top:10px;
    margin-bottom: 10px;
    padding:0px;

    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4em;
    font-weight: normal;
    float:left;

}

img + h4{                                                               /*Folgeelement, Über mich, Steckbrief, h4*/
    margin-bottom: 0px;
    width: 220px;
    margin-top: -420px;
    margin-left: 360px;

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    font-style: italic;
    font-weight: lighter;

}

div ~ h3 {                                                               /*Geschwister, index, Überschrift über Portfolio*/

    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    font-style: italic;
    font-weight: lighter;

}

#footersocialmedia a:hover{                                             /* Pseudoklasse, Zustand von Icons werden hervorgehoben */
    color: #4A332E;                                               
}

h3{                                                                      /* Transition, index, Überschrift über Medieninhalte */
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    width:800px;
    
}

h3:hover{
    background-color: #9EAC9F;
    width: 800px;
    
}


@media all and (max-width: 500px) {
        
main{
    width: 500px;
    height: auto;
    border: none;
    background-color:#C3D4C4 ;
}
header{
    width: 100%;
}
.gif{
    width: 100%;
    height: auto;
}
.sticky{
    width: 500px;
    margin: 0px;
}
hr{
    width: 400px;
}
h2{
    padding-top: 50px;
    width:100%;
    font-size: 3em; 
}
h3{
    width: 100%;
    float:left;
    padding-left: 50px;
}
h4{
    display:none;
    text-align: center;
}
footer{
    height: 350px;
    margin-top: -20px;
}

.pdf{
    font-size: 1.2em;
    display: block;
    width: 400px;
    margin-left: 50px;
}

video{
    width: 100%;
height: 280px;
margin: auto;
display: table;
}

.button{
    float:left;
    display:none;
    margin: 0px;
}

#porträtbild{                                                  /* ÜBER MICH SEITE */ 
    margin-top:50px;
    width: 300px;
    display: block;
    margin:auto;
    margin-top: 150px;
}
table{
    font-size: 1.2em;
    margin:auto;
    margin-bottom: 50px;
}

.textübermich{
    font-size: 1.2em;
    width: 400px;
    margin: auto;
    height: 300px;
    margin-top: 350px;
}

#logoimMainübermich{
width: 200px;
margin-top: 50px;
}

.textoben{
    width: 400px;
    font-size: 1.2em;
    text-align: inherit;
    
}
input{
    width: 400px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

#textfeld{
    width: 360px;
    margin:auto;
    display: block;
}

.datenschutztext{
    width: 400px;
}

.footerimpressum{
    margin: auto;
    display: block;
    padding-top: 20px;
}
#footersocialmedia{
    padding-top:20px;
    margin: auto;
    display:block;
    padding-bottom: 20px;
    margin-left: 80px;
}
.datenschutz{
    margin:auto;
    display: block;
    margin-left: 80px;
}

}